:root {
    --black-text: #000000;
    --background-color: #ffffff;
    --card-background-color: #def7f0;
    --button-color: #20c997;
    --active-primary-color: #189771;

    --big-font-size: 23px;
    --medium-font-size: 19px;
    --small-font-size: 17px;
    --title-font-size: 26px;
    --mask-text-oppacity: 30;

    --cards-gap: 4.67rem;
    --card-height: 21.375rem;
    --navbar-height: 4.5rem;
    --button-height: 2.375rem;
    --button-width: 10rem;
    --border-width: 0.1rem;
    --border-radius: 0.9rem;
    --button-border-radius: 1.875rem;
    --search-icon-side-size: 2rem;
    --text-input-width: 25rem;
    --card-width: 17.5rem;
}
